.sectionTitle {
    font-size: 128px;
    line-height: 100%;
    font-weight: 600;
    margin-right: 40px;
}

.titleWrapper {
    border-top: 1px solid #000;
    padding: 12px 0px;
    border-bottom: 1px solid black;
}

.worksContainer {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    padding: 64px 0;
}
