.workElementContainer {
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
    justify-content: space-between;
    padding: 16px 32px;
    gap: 12px;
    font-size: 24px;
    line-height: 100%;
    position: relative;

    @media (max-width: 768px) {
        font-size: clamp(1rem, 0.643rem + 1.786vw, 1.5rem);
        padding: 8px 16px;
        gap: 4px;
        font-size: 16px;
    }
    @media (max-width: 431px) {
      font-size: 14px;
    }

}

.explore {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
