.heroSectionContainer {
    height: 100vh;
    position: relative;

    // @media (max-width: 1080px) {
    //     height: auto;
    // }
}

.heroSectionContentContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 1080px) {
        justify-content: flex-start;
        padding-top: 100px;
    }
}

.heroSectionContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    @media (min-width: 1080px) {
        transform: translateY(-63.5px);
    }

    @media (max-width: 1080px) {
        gap: 32px;
        justify-content: center;
        height: calc(100% - 53.5px);
    }
}

.heroText {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.heroMainText {
    font-weight: 600;
    font-size: clamp(8rem, -4rem + 13.333vw, 12rem); // 128 - 192 | 1440 - 1920
    line-height: 100%;
    @media (max-width: 1080px) {
        font-size: clamp(3rem, 0.895rem + 10.526vw, 8rem); // 48 - 128 | 320 - 1080
    }
}

.heroDescriptionContainer {
    max-width: clamp(41.25rem, -22.5rem + 70.833vw, 62.5rem);
    text-align: center;

    @media (max-width: 1080px) {
        align-self: auto;
    }
}

.heroDescriptionText {
    font-weight: 300;
    font-size: clamp(1.5rem, 0rem + 1.667vw, 2rem); // 24 - 32 | 1440 - 1920

    @media (max-width: 1080px) {
        font-size: clamp(0.875rem, 0.401rem + 2.368vw, 2rem); // 14 - 32 | 320 - 1080
    }
}

.bottomLineContainer {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 16px 0;

    // @media (max-width: 1080px) {
    //     position: relative;
    //     bottom: 0;
    //     margin-top: 64px;
    //     height: 53.5px;
    // }
}

.bottomLineText {
    font-weight: 300;
    font-size: clamp(1.5rem, 0rem + 1.667vw, 2rem); // 24 - 32 | 1440 - 1920
    margin-right: 64px;
    @media (max-width: 1080px) {
        font-size: 16px;
        margin-right: 32px;
    }
}
