.container {
    display: flex;
}

.textContainer {
    display: flex;
    gap: 50px;
    position: relative;
}

.spanText {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    margin-right: 0.3em;
    &:nth-last-child(1){
        margin-right: 0;
    }
}

.bold {
    font-weight: 600;
}